@charset "UTF-8";

header {
 font-size: 50px;
 font-family: sans-serif;
 text-align: center;
 background-color: #ed0b0b
}
button {
  font-size: 20px;
}
body {
  background-color: #d8d8d8;
}

.NavLinks {
  text-align: center;

  }

  .NavLinks li {
  display: inline-block;
  text-align: center;
  font-size: 100px;
  padding-right: 30px;
}

#locationlist li {
display: block;
text-align: left;
}
.grid-container {
  padding-top: 0px;
  display: grid;
  grid-gap: 0px;
  justify-content: space-evenly;
  grid-template-columns: 300px 300px 400px 300px;
}

.locationlist {
  grid-row: 1;
  grid-column: 2;
  font-size: 15px;
  background-color: orange;
}

.searchbar {
  font-size: 30px;
  background-color: orange;
  grid-column: 2;
  ;
}
.searchbar input {
  height: 30px;
  width: 300px;
}

.map {
  grid-column: 3;
  grid-row: 1;
  background-color: blue;
}
