@charset "UTF-8";

.searchbar {
  background-color: red;
  display: block;
  align-items: left;
}

.NavLinks {
  display: inline-block;
  align-items: center;
    font-size: 30px;
    align-items: center;
    align-self: center;
    align-content: center;
    display: inline-block;

}

head {
  background-color: #000;
}

ul {
  font-size: 30px;
  align-items: center;
  align-self: center;
  align-content: center;
  display: inline-block;
}

 header {
  font-size: 30px;
  font-family: sans-serif;
}
