@charset "UTF-8";

header {
 font-size: 50px;
 font-family: sans-serif;
 text-align: center;
 background-color: #ed0b0b
}
button {
  font-size: 20px;
}
body {
  background-color: #d8d8d8;
}

.NavLinks {
  text-align: center;
  }

  .NavLinks li {
  display: inline-block;
  text-align: center;
  font-size: 100px;
  padding-right: 30px;
}

#locationlist li {
display: block;
text-align: left;
}

.Grid {
  display: grid;
  grid-template-columns: 200px, 200px;
  grid-template-rows: 300px, 100px, 300px, 100px;
  grid-gap: black;
  grid-gap: 20px;
  grid-column-gap: 100px;
}

.A {
grid-column: 1;
grid-row: 1;
}

.A-info {
  grid-column: 1;
  grid-row: 2;
}

.B {
  grid-column: 1;
  grid-row: 3;
}

.B-info {
  grid-column: 1;
  grid-row: 4;
}

.C {
  grid-column: 2;
  grid-row: 1;
}

.C-info {
  grid-column: 2;
  grid-row: 2;
}

.D {
  grid-column: 2;
  grid-row: 3;
}

.D-info {
  grid-column: 2;
  grid-row: 4;
}
